@model SistemaQueueTareas.Data.Task

@{
    ViewBag.Title = "Editar Tarea";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.id_user)
        @Html.HiddenFor(model => model.fecha_creacion)
        @Html.HiddenFor(model => model.id_state)

        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.name)
                            @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.name)
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.id_priority)
                            @Html.DropDownListFor(model => model.id_priority, ViewBag.id_priority as SelectList, "Seleccione prioridad", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.id_priority)
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.description)
                    @Html.TextAreaFor(model => model.description, new { @class = "form-control", rows = 4 })
                    @Html.ValidationMessageFor(model => model.description)
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Guardar Cambios
                    </button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    }
</div>